@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css');

.accordion-toggle:hover {
    text-decoration: none;
  } 
  
  .container{
      
      margin-top:100px;
  }
  

.panel-default>.panel-heading {
  color: #fff;
  background-color: black;
  border-color: black;
}  